{# templates/animal/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Animaux{% endblock %}

{% block body %}
    <h1>Liste des animaux</h1>
    <ul>
        {% for animal in animals %}
            <li>{{ animal.name }} - {{ animal.race }}  ({{ animal.habitat.name }})</li>
        {% endfor %}
    </ul>
{% endblock %}
