{% extends 'base.html.twig' %}

{% block title %}Détails de l'animal{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ animal.name }}</h1>
        <p>Consultations : {{ views }}</p>
    </div>


{% endblock %}
