{% extends 'base.html.twig' %}

{% block title %}Détails de l'animal{% endblock %}

{% block body %}
    <h1>{{ animal.name }}</h1>
    <p>Consultations : {{ views }}</p>
    <!-- Ajoutez d'autres détails de l'animal ici -->
{% endblock %}
