{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="row g-0">

                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Présentation</h5>
                            <p class="card-text">Arcadia est un zoo situé en France près de la forêt de Brocéliande, en Bretagne depuis 1990. Ils possèdent tout un panel d'animaux.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="path_to_service_image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Visite guidée</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="path_to_habitat_image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Habitats</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="path_to_animal_image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Animaux</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Avis</h5>
                    <p class="card-text">Sandra Bolloque</p>
                    <p class="card-text">Superbe expérience</p>
                    <p class="card-text">
                        <small class="text-muted">★★★★★</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Avis</h5>
                    <p class="card-text">Sandra Bolloque</p>
                    <p class="card-text">Superbe expérience</p>
                    <p class="card-text">
                        <small class="text-muted">★★★★★</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Avis</h5>
                    <p class="card-text">Sandra Bolloque</p>
                    <p class="card-text">Superbe expérience</p>
                    <p class="card-text">
                        <small class="text-muted">★★★★★</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
