html, body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 100%;
}

header {
    background-color: #5F6F52;
}

.navbar-brand {
    margin: -0.8dvh;
}

.navbar-brand img {
    width: 5rem;
    height: auto;
    background-color: #B99470;
}

.cadre {
    background-color: #FEFAE0;
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avis {
    background-color: #A9B388;
}

footer {
    background-color: #B99470;
}

#map {
    height: 400px;
}
