{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Tableau de bord</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Utilisateurs</h5>
                        <p class="card-text">{{ total_users }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Animaux</h5>
                        <p class="card-text">{{ total_animals }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Services</h5>
                        <p class="card-text">{{ total_services }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
